<h1>Editing page - <%= link_to(@page.title, enki.page_path(@page.slug)) %></h1>

<%= simple_form_for(@page, :url => enki.admin_page_path(@page)) do |form| -%>
  <%= render :partial => 'enki/admin/pages/form', :locals => {:form => form} %>
  <div class="actions">
    <button type="submit" class="button">Save</button>
  </div>
<% end -%>
